$notebook: 1350px;
$tablet: 1025px;
$phone: 765px;
$small-phone: 450px;
$smallest-phone: 340px;

.header {
    position: relative;
    background-color: #ffffff;
    padding: 20px 0;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.07);
    @media screen and (max-width: $small-phone) {
        min-height: 80px;
    }
    &::before {
        content: "";
        position: absolute;
        height: 3px;
        width: 100%;
        left: 0;
        top: 0;
        background-color: var(--primary-color);
    }
    &-logo {
        img {
            @media screen and (max-width: $small-phone) {
                max-width: 150px;
            }
        }
    }
    &-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-nav {
        column-gap: 45px;
        align-items: center;
        @media screen and (max-width: $tablet) {
            column-gap: 15px;
        }
        li a {
            color: var(--main-text-color);
            font-family: "Roboto Condensed", sans-serif;
            font-size: 15px;
            line-height: 22px;
            font-weight: 700;
            text-transform: uppercase;
        }
        &__list {
            display: flex;
            column-gap: 40px;
            width: 100%;
        }
        &__login.button {
            min-width: 100px;
            padding: 10px 0;
        }
        &__toggle-btn {
            border: none;
            padding: 2px;
            div {
                width: 25px;
                height: 2px;
                background-color: var(--main-text-color);
                transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
                & + div {
                    margin-top: 4px;
                }
            }
            &.active {
                div {
                    &:first-child {
                        transform: translate(0px, 6px) rotate(45deg);
                    }
                    &:nth-child(2) {
                        transform: translateX(1000%);
                    }
                    &:last-child {
                        transform: translate(0px, -5px) rotate(-45deg);
                    }
                }
            }
            &:focus {
                outline: 1px solid transparent;
            }
            @media screen and (min-width: $tablet) {
                display: none;
            }
        }
    }
    .mobile-nav {
        position: absolute;
        z-index: 1;
        transform: translateX(100%);
        top: 0;
        left: 0;
        min-height: 100vh;
        width: 100%;
        padding: 23px;
        text-align: center;
        background-color: var(--primary-color);
        &.active {
            transform: translateX(0);
            transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
        }
        &.hidden {
            transform: translateX(100%);
            transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
        }
        &__list {
            li {
                margin: 70px 0;
            }
            a {
                font-size: 30px;
                font-weight: 700;
                color: #ffffff;
                text-transform: uppercase;
            }
        }
        &__close-btn {
            display: block;
            background-color: transparent;
            border: none;
            position: absolute;
            width: 22px;
            height: 22px;
            right: 25px;
            top: 25px;
            &:focus {
                outline: none;
            }
            &::after,
            &::before {
                content: "";
                position: absolute;
                background-color: #fff;
                height: 2px;
                width: 29px;
                left: 0;
            }
            &::after {
                transform: rotate(45deg);
            }
            &::before {
                transform: rotate(-45deg);
            }
        }
    }
    @media screen and (max-width: $tablet) {
        &-nav {
            &__list {
                display: none;
            }
        }
    }
    @media screen and (max-width: $phone) {
        &-nav {
            &__login {
                display: none;
            }
        }
    }
    @media screen and (max-width: $small-phone) {
        &-nav {
            &__lang {
                display: none;
            }
        }
    }
}
