$notebook: 1350px;
$tablet: 1025px;
$phone: 765px;
$small-phone: 450px;
$smallest-phone: 340px;

.main {
    position: relative;
    &-banner {
        background-image: url("../assets/images/main-banner.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        min-height: calc(100vh - 82px);
        display: flex;
        justify-content: center;
        align-items: center;
        &__action-box {
            max-width: 430px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            row-gap: 45px;
        }
        &__title {
            color: #ffffff;
            text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
            text-align: center;
        }
        &__controls {
            width: 100%;
            display: flex;
            justify-content: center;
            column-gap: 30px;
            @media screen and (max-width: $small-phone) {
                flex-direction: column;
                align-items: center;
                row-gap: 15px;
                padding: 0 15px;
                > .button {
                    width: 100%;
                }
            }
        }
    }
    &-scroll-btn {
        position: absolute;
        left: 50%;
        bottom: 27px;
        transform: translateX(-50%);
        z-index: 1;
        &-icon {
            display: none;
        }
        &-text {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            row-gap: 10px;
            font-size: 14px;
            line-height: 16px;
            font-weight: 700;
            text-transform: uppercase;
            color: #ffffff;
            &:hover {
                color: var(--primary-color);
            }
        }
        @media (max-width: $tablet) {
            &-icon {
                display: block;
            }
            &-text {
                display: none;
            }
        }
    }
    &-info {
        background-color: #ffffff;
        border-radius: 4px;
        padding: 60px 0;
        &__inner {
            .slick-dots {
                display: flex;
                justify-content: center;
                column-gap: 6px;
                margin-top: 50px;
                li button {
                    font-size: 0;
                    border: none;
                    border-radius: 100%;
                    width: 12px;
                    height: 12px;
                    background-color: #cdcdcd;
                }
                li.slick-active button {
                    background-color: var(--primary-color);
                }
            }
        }
        &__item {
            display: flex;
            padding: 55px 0 60px;
            &.reverse {
                flex-direction: row-reverse;
            }
            & + * {
                border-top: 1px solid #e7e7e7;
            }
            @media screen and (max-width: $tablet) {
                max-width: 100%;
                border: none;
                column-gap: 30px;
                &.reverse {
                    flex-direction: row;
                }
            }
            @media screen and (max-width: $phone) {
                padding: 0 30px;
            }
        }
        &__visual {
            max-width: 50%;
            width: 100%;
            @media screen and (max-width: $tablet) {
                max-width: 230px;
            }
            @media screen and (max-width: $phone) {
                margin: 0 auto;
            }
        }
        &__description {
            @media screen and (max-width: $phone) {
                text-align: center;
            }
        }
        &__img {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 300px;
            height: 300px;
            border: 1px solid #cdcdcd;
            border-radius: 100%;
            margin: 0 auto 25px;
            @media screen and (max-width: $tablet) {
                width: 226px;
                height: 226px;
                svg {
                    max-width: 125px;
                }
            }
            @media screen and (max-width: $small-phone) {
                width: 200px;
                height: 200px;
                img {
                    max-width: 100px;
                }
            }
            @media screen and (max-width: $smallest-phone) {
                width: 150px;
                height: 150px;
                img {
                    max-width: 75px;
                }
            }
        }
        &__title {
            position: relative;
            margin-bottom: 43px;
            &::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: -20px;
                width: 50px;
                height: 1px;
                background-color: var(--primary-color);
            }
            @media screen and (max-width: $phone) {
                &::after {
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }
        &__text {
            color: var(--secondary-text-color);
            margin-bottom: 25px;
        }
    }
}
