.sidebar {
    max-width: 625px;
    width: 100%;
    min-height: 100vh;
    background-image: url(../assets/images/sidebar-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 46px 0 32px;
    &-container {
        max-width: 575px;
        margin: 0 auto;
        padding: 0 15px;
    }
    &-header {
        margin-bottom: 40px;
    }
    &-visual {
        &__inner {
            display: flex;
        }
        &__icons {
            display: flex;
            max-width: 30%;
            width: 100%;
            padding-left: 40px;
            padding-top: 15%;
            &-list {
                display: flex;
                flex-direction: column;
                align-items: center;
                row-gap: 40px;
                padding-left: 42px;
            }
        }
        &__img {
            background-image: url(../assets/images/ipad-image.png);
            background-position: top right;
            background-size: contain;
            background-repeat: no-repeat;
            min-height: 607px;
            max-width: 70%;
            width: 100%;
        }
    }
    &-footer {
        &__logo {
            margin-bottom: 30px;
        }
        &__nav {
            margin-bottom: 40px;
            &-list {
                column-gap: 25px;
                display: flex;
            }
            &-item {
                a {
                    text-transform: uppercase;
                    font-family: "Roboto Condensed", sans-serif;
                    font-weight: 700;
                    font-size: 13px;
                    line-height: 16px;
                    text-transform: uppercase;
                    color: #ffffff;
                    &:hover {
                        color: var(--primary-color);
                    }
                }
            }
        }
        &__bottom {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__copyright {
                font-size: 13px;
                line-height: 20px;
                color: #ffffff;
            a {
                &:hover {
                    color: var(--primary-color);
                }
            }
        }
        &__social {
            &-list {
                display: flex;
                column-gap: 35px;
            }
            &-item a {
                i {
                    font-size: 20px;
                    line-height: 20px;
                    color: #ffffff;
                    transition: color 0.2s;
                }
                &:hover {
                    i {
                        color: var(--primary-color);
                    }
                }
            }
        }
    }
}
